*,
*:before,
*:after {
  box-sizing: border-box; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: open-sans;
  min-width: 460px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  color: #A4A6A8; }
